<<<<<<< HEAD
.edit-profile__form {
  label {
    font-size: 14px;
    margin-bottom: 15px;
  }
}

.edit-profile__password {
  margin-top: 20px;
  text-align: center;
  a {
    text-decoration: underline;
    font-size: 15px;
  }
}
=======
.edit-profile__form {
  label {
    font-size: 14px;
    margin-bottom: 15px;
  }
}

.edit-profile__password {
  margin-top: 20px;
  text-align: center;
  a {
    text-decoration: underline;
    font-size: 15px;
  }
}
>>>>>>> 3d56e735527d06c899ce66371cd52eb613986432
