<<<<<<< HEAD
.search__form {
  flex-direction: column;
  max-width: 380px;
  margin: 0 auto;
  margin-bottom: 50px;

  input {
    all: unset;
    padding: 10px;
    border-radius: 2px;
    background-color: black;
    margin-bottom: 10px;
    font-size: 15px;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    width: 95%;
  }

  button {
    all: unset;
  }

  button {
    background-color: #313131;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    width: 95%;
  }
}
=======
.search__form {
  flex-direction: column;
  max-width: 380px;
  margin: 0 auto;
  margin-bottom: 50px;

  input {
    all: unset;
    padding: 10px;
    border-radius: 2px;
    background-color: black;
    margin-bottom: 10px;
    font-size: 15px;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    width: 95%;
  }

  button {
    all: unset;
  }

  button {
    background-color: #313131;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    width: 95%;
  }
}
>>>>>>> 3d56e735527d06c899ce66371cd52eb613986432
