<<<<<<< HEAD
include mixin/message

doctype html 
html(lang="ko")
    head 
        title #{pageTitle} | Youtube_clone
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css")
        link(rel="stylesheet" href="/assets/css/style.css")

    body 
        if messages.error 
            +message("error", messages.error)
        include partials/header.pug
        main
            block content
        include partials/footer.pug
    script(src="/assets/js/main.js")
=======
doctype html 
html(lang="ko")
    head 
        title #{pageTitle} | Youtube_clone
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css")
        link(rel="stylesheet" href="/assets/css/style.css")

    body 
        include partials/header.pug
        main
            block content
        include partials/footer.pug
    script(src="/assets/js/main.js")
>>>>>>> 3d56e735527d06c899ce66371cd52eb613986432
    block scripts