<<<<<<< HEAD
extends base.pug 
include mixin/video

block content 
    form(method="GET").search__form
        input(placeholder="제목 입력", name='keyword', type="text")
        button
            i.fas.fa-search

    div.video-grid
        each video in videos 
            +video(video)
        else 
=======
extends base.pug 
include mixin/video

block content 
    form(method="GET").search__form
        input(placeholder="제목 입력", name='keyword', type="text")
        button
            i.fas.fa-search

    div.video-grid
        each video in videos 
            +video(video)
        else 
>>>>>>> 3d56e735527d06c899ce66371cd52eb613986432
            span.empty__message 비디오가 없습니다.