<<<<<<< HEAD
div.social__login
    a(href="/users/github/start").social__btn.social__btn--github
=======
div.social__login
    a(href="/users/github/start").social__btn.social__btn--github
>>>>>>> 3d56e735527d06c899ce66371cd52eb613986432
        i.fab.fa-github  깃허브로 로그인