<<<<<<< HEAD
footer {
  text-align: center;
  font-size: 15px;
  opacity: 0.8;
  margin-top: 100px;
}
=======
footer {
  text-align: center;
  font-size: 15px;
  opacity: 0.8;
  margin-top: 100px;
}
>>>>>>> 3d56e735527d06c899ce66371cd52eb613986432
