<<<<<<< HEAD
header {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header__logo {
    color: $red;
    font-size: 45px;
  }
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  li {
    margin-left: 25px;
    font-size: 18px;
    font-weight: 600;
    i {
      font-size: 20px;
    }
  }
}

.header__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
=======
header {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header__logo {
    color: $red;
    font-size: 45px;
  }
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  li {
    margin-left: 25px;
    font-size: 18px;
    font-weight: 600;
    i {
      font-size: 20px;
    }
  }
}

.header__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
>>>>>>> 3d56e735527d06c899ce66371cd52eb613986432
